<h1>cadastre um novo clinete</h1>
<form action="/cadastarClient" method="post">
    <input type="text" name="nameClient">
    <input type="text" name="email">
    <input type="text" name="telefone">
    <input type="text" name="endereco">
    <input type="cep"  name="cep">
    <input type="cpf"  name="cpf">
    <button type="submit">cadastrar cliente</button>
</form>