header *{
    margin:0;
}
header{
    height: 10vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    font-size: 3vh;
}
header button{
    height: 9vh;
    width:9vh;
    font-size: 6vh;
    border: none;
    background-color: transparent;
    color: #ddd;
    
}
header h2{
    margin-left:10%;
}
header div.cont-button {
    flex:1;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
header div.cont-button button{
    border: 3px solid #2E66FF;
    border-radius: 50%;
    background-color: #2E66FF;
    color: #fff;
    transition: 0.5s;
}
header div.cont-button button:hover{
    background-color: #fff;
    color: #2E66FF;
}